@import "/styles/reset.css";
@import "/styles/header.css";
@import "/styles/navigation.css";
@import "/styles/thumnails.css";
@import "/styles/main-page.css";

body {
    background-color: black;
    margin:0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
}