.navigation-bar {
    background-color: rgb(53, 50, 50);
    width: 72px;
    height: 100%;
    position: fixed;
    top: 35px;
    left: 0;
    bottom: 0;
    padding-top: 15px;
    z-index: 200;
}
nav div {
    text-align: center;
    color: white;
}
nav span {
    display: block;
    font-size: 7px;
    margin-bottom: 30px;
}